@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #ffffffb3;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

/* heading */

h1 {
    background: #081b31;
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    width: 100%;
    font-size: 35px;
    font-weight: 600;
}

/* wrapper */

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

/* choices wrap */

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
    flex-wrap: wrap;
}

/* choice */

.choice {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
}

.choice:hover {
    cursor: pointer;
    border: 3px solid #081b31;
}

.choice img {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    object-fit: cover;
}

/* score board */

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background: #081b31;
    color: #fff;
    font-size: 1.7rem;
    display: inline;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
}

/* Responsiveness */

@media (max-width: 600px) {

    .choices {
        gap: 1rem;
    }

    .msg-container {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 550px) {

    .choices {
        gap: 1.5rem;
    }

    .choice,
    .choice img {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 500px) {

    .choices {
        gap: 1rem;
    }

    #user-score,
    #comp-score {
        font-size: 3.3rem;
    }

    #msg {
        font-size: 1.5rem;
    }
}

@media (max-width: 450px) {

    h1 {
        font-size: 1.7rem;
    }

    .choices {
        margin-top: 2rem;
        gap: 2rem;
    }

    .choice,
    .choice img {
        height: 130px;
        width: 130px;
    }

    .score-board {
        font-size: 1.8rem;
        margin-top: 2rem;
    }

    .msg-container {
        margin-top: 4rem;
    }

    #msg {
        padding: 1rem;
        font-size: 1.3rem;
    }
}

@media (max-width: 400px) {

    .choice,
    .choice img {
        height: 120px;
        width: 120px;
    }

    #msg {
        font-size: 1.3rem
    }
}

@media (max-width: 350px) {

    .choices {
        gap: 1.5rem;
    }

    #msg {
        font-size: 1.2rem;
    }
}